<div id="contact-page" class="container">
    <div class="bg">
        <h2 class="title text-center" translate>Contact</h2>
        <div class="row">
            <div class="col-sm-12">

                <div id="gmap" class="contact-map"></div>


            </div>
        </div>
        <div class="row">
            <div class="col-sm-8">

                <div class="contact-form">

                    <div class="status alert alert-success" style="display: none"></div>
                    <form id="main-contact-form" class="contact-form row" name="contact-form" method="post">
                        <div class="form-group col-md-6">
                            <input type="text" name="name" class="form-control" required="required"
                                placeholder="{{'Name'|translate}}" ng-model="$ctrl.emailBody.name">
                        </div>
                        <div class="form-group col-md-6">
                            <input type="email" name="email" class="form-control" required="required"
                                placeholder="{{'Email'|translate}}" ng-model="$ctrl.emailBody.email">
                        </div>
                        <div class="form-group col-md-12">
                            <input type="text" name="subject" class="form-control" required="required"
                                placeholder="{{'Subject'|translate}}" ng-model="$ctrl.emailBody.subject">
                        </div>
                        <div class="form-group col-md-12">
                            <textarea name="message" id="message" required="required" class="form-control" rows="8"
                                placeholder="{{'YourMessageHere'|translate}}"
                                ng-model="$ctrl.emailBody.message"></textarea>
                        </div>
                        <div class="form-group col-md-12">
                            <input type="submit" name="submit" class="btn btn-primary pull-right"
                                value="{{'Submit'|translate}}" ng-click="$ctrl.sendEmail($ctrl.emailBody)">


                        </div>
                    </form>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="contact-info">
                    <h2 class="title text-center" translate>ContactInfo</h2>
                    <address>
                        <p>{{$ctrl.company.name}}</p>
                        <p>{{$ctrl.company.address}}</p>
                        <p>{{$ctrl.company.country}}</p>
                        <p>Mobile: {{$ctrl.company.phone}}</p>
                        <p ng-if="$ctrl.company.fax">Fax: {{$ctrl.company.fax}}</p>
                        <p>Email: {{$ctrl.company.email}}</p>
                    </address>
                    <div class="social-networks">
                        <h2 class="title text-center" translate>SocialNetworking</h2>
                        <ul>
                            <li ng-repeat="net in $ctrl.company.networks">
                                <a href="{{net.href}}" target="_blank"><i ng-class="net.icon"></i></a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/#contact-page-->