<section>

    <div class="container">
        <div class="row">


            <!--div class="col-sm-3">
                <div class="left-sidebar">
                    <sidebar></sidebar>
                </div>
            </div-->

            <div class="col-sm-12 padding-right">
                <div class="features_items">
                    <h2 class="title text-center" translate>FeatureItems</h2>
                    <div class="col-sm-4" ng-repeat="item in $ctrl.products">
                        <div class="product-image-wrapper">
                            <div class="single-products">
                                <div class="productinfo text-center">
                                    <img ng-src="{{item.imgUrl}}" alt="" class="product-img" />
                                    <h2>{{item.price | currency}}</h2>
                                    <p>{{item.name}}</p>
                                    <a href="#" class="btn btn-default add-to-cart"><i
                                            class="fa fa-shopping-cart"></i><span translate>AddToCart</span></a>
                                </div>
                                <div class="product-overlay">
                                    <div class="overlay-content">
                                        <h2>{{item.price | currency}}</h2>
                                        <p>{{item.name}}</p>
                                        <a class="btn btn-default add-to-cart" ng-click="$ctrl.addToCart(item)"><i
                                                class="fa fa-shopping-cart"></i><span translate>AddToCart</span></a>
                                    </div>
                                </div>
                                <img ng-if="item.isNewProduct" src="images/home/new.png" class="new" alt="" />
                                <img ng-if="item.isSale" src="images/home/sale.png" class="new" alt="" />
                            </div>
                            <div class="choose">
                                <ul class="nav nav-pills nav-justified">
                                    <li><a href="#"><i class="fa fa-plus-square"></i>{{'AddToWishlist'|translate}}</a>
                                    </li>
                                    <!--li><a href="#"><i class="fa fa-plus-square"></i>Add to compare</a></li-->
                                    <li><a href="" ui-sref="product({ productId: item._id })"><i
                                                class="fa fa-plus-square"></i>{{'ViewDetail'|translate}}</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <ul class="pagination">
                        <li>
                            <a href="" ng-class="{disabled:$ctrl.paginationOptions.currentPage==$ctrl.pages[0]}"
                                ng-click="$ctrl.setCurrentPage($ctrl.pages[0])">&laquo;</a></li>
                        <li ng-class="{active:$ctrl.paginationOptions.currentPage==page}"
                            ng-repeat="page in $ctrl.pages">
                            <a href="" ng-click="$ctrl.setCurrentPage(page)">{{page}}</a>
                        </li>
                        <li>
                            <a href=""
                                ng-class="{disabled:$ctrl.paginationOptions.currentPage==$ctrl.pages[$ctrl.pages.length-1]}"
                                ng-click="$ctrl.setCurrentPage($ctrl.pages[$ctrl.pages.length-1])">&raquo;</a>
                        </li>
                    </ul>
                </div>
            </div>


        </div>
    </div>
</section>