<section>

  <div class="container">
    <div class="row">

      <meta property="og:url"
        content="http://www.nytimes.com/2015/02/19/arts/international/when-great-minds-dont-think-alike.html" />
      <meta property="og:type" content="article" />
      <meta property="og:title" content="When Great Minds Don’t Think Alike" />
      <meta property="og:description" content="How much does culture influence creative thinking?" />
      <meta property="og:image"
        content="http://static01.nyt.com/images/2015/02/19/arts/international/19iht-btnumbers19A/19iht-btnumbers19A-facebookJumbo-v2.jpg" />

      <!--div class="col-sm-3">
        <div class="left-sidebar">
          <sidebar></sidebar>
        </div>
      </div-->

      <div class="col-sm-12 padding-right">
        <div class="product-details">
          <!--product-details-->
          <div class="col-sm-5">
            <div class="view-product">
              <img ng-src="{{$ctrl.product.imgUrl}}" alt="" />
              <!--h3>ZOOM</h3-->
            </div>
            <div id="similar-product" class="carousel slide" data-ride="carousel">

              <!-- Wrapper for slides -->
              <div class="carousel-inner">
                <div class="item" ng-class="$index==0?'active':''" ng-repeat=" related in $ctrl.relatedItems ">
                  <a href="" ng-repeat=" product in related.items" ui-sref="product({ productId: product._id })">
                    <img class="related-item" ng-src="{{product.imgUrl}}" alt="">
                  </a>
                </div>

              </div>

              <!-- Controls -->
              <a class=" left item-control" href="" data-target="#similar-product" data-slide="prev">
                <i class="fa fa-angle-left"></i>
              </a>
              <a class="right item-control" href="" data-target="#similar-product" data-slide="next">
                <i class="fa fa-angle-right"></i>
              </a>
            </div>

          </div>
          <div class="col-sm-7">
            <div class="product-information">
              <!--/product-information-->
              <img ng-if="$ctrl.product.isNew" src="images/product-details/new.jpg" class="newarrival" alt="" />
              <h2>{{$ctrl.product.name}}</h2>
              <p>Web ID: {{$ctrl.product._id}}</p>
              <img src="images/product-details/rating.png" alt="" />
              <span>
                <span>{{$ctrl.product.price | currency}}</span>
                <label>{{'Quantity' | translate}}:</label>
                <input type="text" value="1" />
                <button type="button" class="btn btn-fefault cart" ng-click="$ctrl.addToCart($ctrl.product)">
                  <i class="fa fa-shopping-cart"></i>
                  {{'AddToCart' | translate}}
                </button>
              </span>
              <p><b>{{'Availability' | translate}}:</b> {{'InStock'|translate}}</p>
              <p><b>{{'Condition' | translate}}:</b> New</p>
              <p><b>{{'Brand' | translate}}:</b> E-SHOPPER</p>
              <!--a href=""><img src="images/product-details/share.png" class="share img-responsive" alt="" /></a-->

              <div class="fb-share-button" data-href="https://sandelisabores.com/publish.html?_id=5ed86f260d0bf822201a9690"
                data-layout="button" data-size="small">
                <a target="_blank"
                  href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fsandelisabores.com%2F%23%21%2Fpublish.html&amp_id=5ed86f260d0bf822201a9690;src=sdkpreparse"
                  class="fb-xfbml-parse-ignore">Compartir</a>
              </div>

            </div>
            <!--/product-information-->
          </div>
        </div>
        <!--/product-details-->


        <!--/category-tab-->



      </div>

    </div>
  </div>

</section>