<section>

    <div class="container">
        <div class="row">

            <div class="recommended_items">

                <h2 class="title text-center" translate>RecommendedItems</h2>

                <div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="item" ng-class="$index==0?'active':''" ng-repeat="recomend in $ctrl.recommends">
                            <div class="col-sm-4" ng-repeat="item in recomend.items">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
                                            <img ng-src="{{item.imgUrl}}" alt="" class="product-img" />
                                            <h2>{{item.price | currency}}</h2>
                                            <p>{{item.name}}</p>
                                            <a href="#" class="btn btn-default add-to-cart"><i
                                                    class="fa fa-shopping-cart"></i><span translate>AddToCart</span></a>
                                        </div>

                                    </div>
                                </div>
                            </div>                        
                         
                        </div>

                    </div>
                    <a class="left recommended-item-control" href="" data-target="#recommended-item-carousel"
                        data-slide="prev">
                        <i class="fa fa-angle-left"></i>
                    </a>
                    <a class="right recommended-item-control" href="" data-target="#recommended-item-carousel"
                        data-slide="next">
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>
            </div>

        </div>
    </div>
</section>